@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.app-btn-container {
    text-align: center;
}

.app-btn-prev {
    border-color: #BD93F3;
    border-width: 1px;
}

.app-btn-next {
    border-color: #BD93F3;
    border-width: 1px;
}